.header {
  display: flex;
  height: 400px;
  flex-direction: column;
  background-color: #f4f1ec;
}
#default-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
#default-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
